#score-area {
  width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

#score-area > h5 {
  margin: 0;
}

.game-area {
  position: relative;
  width: 600px;
  height: 600px;
  margin: 15px auto; 
  border: 1px solid #000;
}

.snake-dot {
  position: absolute;
  background-color: #000;
  border: 1px solid #fff;
  height: 2%;
  width: 2%;
}

.food {
  position: absolute;
  background-color: red;
  border: 1px solid #fff;
  height: 2%;
  width: 2%;
}